/* ButtonStyles.css */
.custom-toggle-button {
    background-color: rgb(226,91,91);
    color: white;
    margin: auto auto;
    width: 100%;
    min-height: 60px;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    white-space: normal;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	flex-wrap: wrap; /* 允许元素换行 */
}

.custom-toggle-button.enabled {
    background-color: rgb(69,154,70);
}

.status-text {
    font-size: 20px;
    font-weight: bold;
	display: block; /* 确保为块级元素，利于换行 */
}

.shortcut-text {
    font-size: 8px;
    color: rgba(255, 255, 255, 0.7);
	display: block; /* 确保为块级元素，利于换行 */
}