@font-face {
  font-family: 'SourceHanSansCN-Normal';
  src: url('./SourceHanSansCN-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SourceHanSansCN-Normal', Arial, sans-serif;
}